.Intropage {
  height: 100vh;
  width: inherit;
  /* background-image: url(/src/Images/Background.png); */
  background-size: cover;
  position: relative;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intropage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  /* overflow: hidden; */
}
#text {
  position: absolute;
  color:#E6F7FA;
  z-index: -1;
  ;
  /* right: 200px; */
  white-space: nowrap;
  font-size: 5.5vw;
  font-family: jost;

  /* font-size: 1000px; */
}
#Planet-small{
  z-index:-1;
}
#Plante-big {
  z-index: 10;
}
#btn {
  text-decoration: none;
  border-radius: 40px;
  color: #101f48;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  font-size: 2.5em;
  display: inline-block;
  z-index: 9;
  transform: translateY(100px);
}
#Bg-Image{
  z-index: -10;
  /* background-position: cover  ; */
}
.Intropage::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #101f48, transparent);
  z-index: 100;
}
